.transaction {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border: 2px solid black;
  border-radius: 4px;
  width: 500px;
  margin: 30px auto;
}

.transaction th,
.transaction td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.transaction th {
  background-color: #f5f5f5;
  font-weight: bold;
  color: #555;
}

.transaction tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.transaction tbody tr:hover {
  background-color: #f5f5f5;
}

.currency {
  font-style: italic;
}
